services:
  printstream:
    image: ${DOCKER_REGISTRY-}printstream
    build:
      context: .
      dockerfile: Printstream/Dockerfile
    environment:
      MQ_Queue: ${MQ_Queue}
      MQ_HostName: ${MQ_HostName}
      ConnectionStrings__DefaultConnection: ${CONNECTION_STRING}
    ports:
      - "8080:8080" 
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - app-network

  worker:
    image: ${DOCKER_REGISTRY-}worker
    build:
      context: .
      dockerfile: DeduplicatorWorker/Dockerfile
    environment:
      MQ_Queue: ${MQ_Queue}
      MQ_HostName: ${MQ_HostName}
      ConnectionStrings__DefaultConnection: ${CONNECTION_STRING}
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:4.1-management
    restart: always
    ports:
      - "5672:5672" 
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app-network

  postgres: 
    image: postgres:17
    restart: always
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata: